[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rd_party/libigl"]
	path = 3rd_party/libigl
	url = https://github.com/libigl/libigl
[submodule "3rd_party/HighFive"]
	path = 3rd_party/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "3rd_party/vtk"]
	path = 3rd_party/vtk
	url = https://gitlab.kitware.com/vtk/vtk.git
